<div>
    <p>
        Angular Seed Advanced is a starter project that implements best practices in coding, building and testing Angular 2 apps. Additionally it adds various enhancements and integrations for large global projects.
    </p>

    <h2>Features</h2>
    <!-- Slider main container -->
    <div #slider class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <ul>
                    <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
                    <li>Production and development builds.</li>
                    <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
                    <li>End-to-end tests with Protractor.</li>
                    <li>Development server with live reload.</li>
                    <li>TypeScript definition management using Typings.</li>
                    <li>Basic Service Worker, which implements "Cache then network strategy".</li>
                    <li>Integration with <a href="https://lodash.com/" target="blank">lodash</a>.</li>
                    <li>RxJS powered state management (Redux) via <a href="https://github.com/ngrx/store" target="blank">ngrx/store</a>.</li>
                    <li>i18n with <a href="https://github.com/ocombe/ng2-translate" target="blank">ng2-translate</a>.</li>
                    <li>Native cross platform app development with <a href="https://www.nativescript.org/" target="blank">NativeScript</a>.</li>
                </ul>

            </div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>